In [6]:
import pandas as pd
import numpy as np      
import matplotlib.pyplot as plt
import seaborn as sns

## Feature Engineering
#### ( Flight Price Prediction )

In [3]:
df=pd.read_csv("D:\Machine_Learning\Clean_Dataset.csv")
df.head()

,Unnamed: 0,airline,flight,source_city,departure_time,stops,arrival_time,destination_city,class,duration,days_left,price
0,0,SpiceJet,SG-8709,Delhi,Evening,zero,Night,Mumbai,Economy,2.17,1,5953
1,1,SpiceJet,SG-8157,Delhi,Early_Morning,zero,Morning,Mumbai,Economy,2.33,1,5953
2,2,AirAsia,I5-764,Delhi,Early_Morning,zero,Early_Morning,Mumbai,Economy,2.17,1,5956
3,3,Vistara,UK-995,Delhi,Morning,zero,Afternoon,Mumbai,Economy,2.25,1,5955
4,4,Vistara,UK-963,Delhi,Morning,zero,Morning,Mumbai,Economy,2.33,1,5955

In [8]:
df.columns

Index(['Unnamed: 0', 'airline', 'flight', 'source_city', 'departure_time',
       'stops', 'arrival_time', 'destination_city', 'class', 'duration',
       'days_left', 'price'],
      dtype='object')

## Feature Engineering

### Accessing Excel dataset of Flight Price Prediction

In [60]:
df1=pd.read_excel("D:\Machine_Learning\Test_set.xlsx")

In [61]:
!pip install openpyxl

## এক্সেল ফাইল read জন্য openpyxl লাইব্রেরি দরকার হয়।

Requirement already satisfied: openpyxl in c:\users\hp\miniconda3\envs\ml_env\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\hp\miniconda3\envs\ml_env\lib\site-packages (from openpyxl) (2.0.0)

In [62]:
df1.head(3)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included

In [63]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
dtypes: object(10)
memory usage: 208.8+ KB

In [64]:
df1['Date_of_Journey']

0        6/06/2019
1       12/05/2019
2       21/05/2019
3       21/05/2019
4       24/06/2019
           ...
2666     6/06/2019
2667    27/03/2019
2668     6/03/2019
2669     6/03/2019
2670    15/06/2019
Name: Date_of_Journey, Length: 2671, dtype: object

### Splitting values apart

In [ ]:
 df1['Date_of_Journey'].str.split('/').str[0]

##.str.split('/') → প্রতিটি string কে '/' দিয়ে ভাগ করছে।
##.str[0] → split হওয়া list এর প্রথম element নেয়।

0        6
1       12
2       21
3       21
4       24
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 2671, dtype: object

In [65]:
df1['Date']= df1['Date_of_Journey'].str.split('/').str[0]   ## Month,Year বাদ দিছে
df1['Month']=df1['Date_of_Journey'].str.split('/').str[1]  ## Date,Year বাদ দিছে
df1['Year']=df1['Date_of_Journey'].str.split('/').str[2]  ## Date,Month বাদ দিছে

In [67]:
df1.head()            ### এখন Date , Month , Year আলাদা আলাদা কলামে আছে।

## যদিও এখনো কিন্তু Date_of_Journey  কলাম আছে সেটা কিন্তু বাদে দেয়া হয়নি

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info,6,06,2019
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,05,2019
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included,21,05,2019
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info,21,05,2019
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info,24,06,2019

In [68]:
df1.info()   ## Date কলাম object type তাই এটা int type এ convert করতে হবে।

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Date_of_Journey  2671 non-null   object
 2   Source           2671 non-null   object
 3   Destination      2671 non-null   object
 4   Route            2671 non-null   object
 5   Dep_Time         2671 non-null   object
 6   Arrival_Time     2671 non-null   object
 7   Duration         2671 non-null   object
 8   Total_Stops      2671 non-null   object
 9   Additional_Info  2671 non-null   object
 10  Date             2671 non-null   object
 11  Month            2671 non-null   object
 12  Year             2671 non-null   object
dtypes: object(13)
memory usage: 271.4+ KB

In [85]:
df1['Date']=df1['Date'].astype(int)
df1['Month']=df1['Month'].astype(int)
df1['Year']=df1['Year'].astype(int)

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2671 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          2671 non-null   object
 1   Source           2671 non-null   object
 2   Destination      2671 non-null   object
 3   Route            2671 non-null   object
 4   Dep_Time         2671 non-null   object
 5   Arrival_Time     2671 non-null   object
 6   Duration         2671 non-null   object
 7   Total_Stops      2671 non-null   object
 8   Additional_Info  2671 non-null   object
 9   Date             2671 non-null   int64
 10  Month            2671 non-null   int64
 11  Year             2671 non-null   int64
 12  Arrival_Hour     2671 non-null   object
 13  Arrival_Minute   2671 non-null   object
dtypes: int64(3), object(11)
memory usage: 292.3+ KB

### Drop Date_of_Journey

In [82]:
''' df1.drop('Date_of_Journey',axis=1,inplace=True) '''

## axis=1  Column direction (horizontal) 
## axis=0 Row direction (vertical)
## যেহেতু Date_of_Journey আর দরকার নাই আলাদা করে Date,Month,Year কলাম আছে তাই এটা বাদে দেয়া হলো।

" df1.drop('Date_of_Journey',axis=1,inplace=True) "

In [88]:
df1['Arrival_Time']=df1['Arrival_Time'].str.split().str[0]     ## প্রথমে arrival Time এর কলাম থেকে ডেটটা বাদ দিছি 

df1['Arrival_Hour']=df1['Arrival_Time'].str.split(':').str[0]
df1['Arrival_Minute']=df1['Arrival_Time'].str.split(':').str[1]      ## এরপর arrival time কে দুই ভাগে ভাগ করছি। ঘন্টা আর মিনিটে।

In [80]:
df1.head(3)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Date,Month,Year,Arrival_Hour,Arrival_Minute
0,Jet Airways,Delhi,Cochin,DEL → BOM → COK,17:30,04:25,10h 55m,1 stop,No info,6,06,2019,04,25
1,IndiGo,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info,12,05,2019,10,20
2,Jet Airways,Delhi,Cochin,DEL → BOM → COK,19:15,19:00,23h 45m,1 stop,In-flight meal not included,21,05,2019,19,00

In [89]:
df1['Arrival_Time']=df1['Arrival_Time'].astype(int)
df1['Arrival_Hour']=df1['Arrival_Hour'].astype(int)

ValueError: invalid literal for int() with base 10: '04:25'