In [1]:
import pandas as pd
import numpy as np

## Understanding Dataset

In [2]:
## To understand any dataset 7 things are important to know primarily 

df=pd.read_csv("D:\Machine_Learning\Titanic-Dataset.csv")

### 1. How big is the data ??

In [ ]:
df.shape

(891, 12)

#### 2. How does the data look like ?

In [13]:
df.sample(5)    ## Random 5 rows from the dataset

# এইটা যেহেতু র‍্যান্ডম্লি ৫ টা রো দেখায়, তাই Dataset টা কেমন ধরনের সেটা বুঝার জন্য এইটা ভালো উপায় df.head() এর থেকে

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
373,374,0,1,"Ringhini, Mr. Sante",male,22.00,0,0,PC 17760,135.6333,NaN,C
337,338,1,1,"Burns, Miss. Elizabeth Margaret",female,41.00,0,0,16966,134.5000,E40,C
432,433,1,2,"Louch, Mrs. Charles Alexander (Alice Adelaide ...",female,42.00,1,0,SC/AH 3085,26.0000,NaN,S
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.00,0,0,350406,7.8542,NaN,S

### 3. What Type of data present in the coloumns?

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### Are there any missing values ?

In [ ]:
df.isnull().sum()  #কলাম গুলাতে কয়টা মিসিং ভ্যালু আছে সেটা দেখাবে

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [21]:
## missing values গুলা ডিলিট করতে চাইলে
df.dropna(inplace=True)

In [22]:
df.isnull().sum() # আবার চেক করে দেখলাম মিসিং ভ্যালু আছে কিনা

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [3]:
## Missing values গুলা mean , median , mode দিয়ে ফিল আপ করতে চাইলে
df['Age']=df['Age'].fillna(df['Age'].mean())  #Age কলামে যদি কোনো missing value থাকে, তাহলে সেই জায়গায় পুরো কলামের গড় (mean) বসিয়ে দিচ্ছে।

 # age কলামের মিসিং ভ্যালু গুলা median/mode দিয়ে ফিল আপ করতে চাইলে জাস্ট mean এর জায়গায় median/mode বসিয়ে দিবে

### 5. How does the data look mathematically ??

In [18]:
df.describe()  # Numerical কলাম গুলোর ম্যাথমেটিক্যাল ভ্যালু গুলো দেখাবে

# mean ,Median , 25 percentile ,50 percentile , Standard Deviation , Maximum , Minimum etc.

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

### 6. Are there duplicate values ??

In [19]:
df.duplicated().sum()  # কয়টা ডুপ্লিকেট রো আছে সেটা দেখাবে

np.int64(0)

In [20]:
## Duplicate রো গুলো ডিলিট করতে চাইলে
df.drop_duplicates(inplace=True)

### 7. How is the correlation ?

In [ ]:
Numeric_Coloumn = df.select_dtypes(include='number') # কলাম গুলোর মধ্যে কেমন সম্পর্ক আছে সেটা দেখাবে
correlation = Numeric_Coloumn.corr()
print(correlation)

## Correlation কেবল মাত্র Numeric Coloumn এর মধ্যেই হয় , Categorical Coloumn এর মধ্যে হয় না, যেমন - Name । এরজন্য আগে Numeric Coloumn গুলা আলাদা করে নিতে হয়

'''Correlation এর মান -1 থেকে +1 এর মধ্যে থাকে .... + hole মানে positive correlation : একটা কলামের ভ্যালু বাড়লে অইটাও বাড়বে , - hole মানে negative correlation : একটা কলামের ভ্যালু বাড়লে অইটা কমবে'''

             PassengerId  Survived    Pclass       Age     SibSp     Parch  \
PassengerId     1.000000 -0.005007 -0.035144  0.033207 -0.057527 -0.001652
Survived       -0.005007  1.000000 -0.338481 -0.069809 -0.035322  0.081629
Pclass         -0.035144 -0.338481  1.000000 -0.331339  0.083081  0.018443
Age             0.033207 -0.069809 -0.331339  1.000000 -0.232625 -0.179191
SibSp          -0.057527 -0.035322  0.083081 -0.232625  1.000000  0.414838
Parch          -0.001652  0.081629  0.018443 -0.179191  0.414838  1.000000
Fare            0.012658  0.257307 -0.549500  0.091566  0.159651  0.216225

                 Fare
PassengerId  0.012658
Survived     0.257307
Pclass      -0.549500
Age          0.091566
SibSp        0.159651
Parch        0.216225
Fare         1.000000

#### যদি নির্দিষ্ট কোনো কলামের সাথে বাকি সব কলামের  রিলেশন দেখতে চাও !

In [14]:
correlation_on_Survival= Numeric_Coloumn.corr()['Survived']
print(correlation_on_Survival)

PassengerId   -0.005007
Survived       1.000000
Pclass        -0.338481
Age           -0.069809
SibSp         -0.035322
Parch          0.081629
Fare           0.257307
Name: Survived, dtype: float64